<link rel="stylesheet" href="styles/scss/main/tab.css">

<div ng-controller="AdvanceController as ctrl">
<div id="main">
    <div id="first">
        <form action="" method="post" name="advanceForm">
            <h1>Advance</h1>
            <h4>Please fill all entries.</h4>
                <input type="file" ng-model="ctrl.filename" valid-file name="file" ng-file-select="onFileSelect($files)" required>
                <i ng-hide="ctrl.imageSrc">No image choosed</i>
                <img ng-src="{{ctrl.imageSrc}}" class="img-responsive" accept="image/*" /><br/>
        <div>
            <button  class="navigateButton pull-right" ng-click="ctrl.gotoNextTab()">Next</button>
            <button class="navigateButton" ng-click="ctrl.gotoPreviousTab()">Back</button>
        </div>
        </form>
    </div>
</div>
</div>

