<link rel="stylesheet" href="styles/css/main.min.css">
<header ng-controller="MainController as MainCtrl">
    <div class="navbar primary-nav" ng-init="navbarCollapsed=false">
        <div class="container-fluid" style="mragin-top:-500px;">
            <div class="navbar-header row">
                <div class="navbar-header">
                  <a class="navbar-brand" href="#">
                    <img alt="Brand" src="images/initiativeTracker.PNG" class="img-circle">
                  </a>
                </div>
                <!-- /.navbar-brand -->
                <button data-toggle="collapse" data-target="#menu" class="navbar-toggle burger-button {{!navbarCollapsed? 'showMenu' : ''}}" ng-click="navbarCollapsed=!navbarCollapsed">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- /.navbar-header -->
            <div id="menu" class="collapse navbar-collapse" uib-collapse="navbarCollapsed">
                <div class="primary-seperate clearfix">
                    <!-- /.col-md-5 col-md-offset-1 -->
                    <div class="user-info">
                        <span class=" navbar-right navbar-text navbar-nav">
                            <span uib-dropdown class="profile">
                                <a uib-dropdown-toggle>
                                    <span class="welcome-text">Welcome</span>
                                    <span class="user-name-container">
                                        <span class="user-name">{{MainCtrl.user.firstName}}
                                            {{MainCtrl.user.lastName}}</span>
                                    </span>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" uib-dropdown-menu>
                                    <li>
                                        <a href ng-click="MainCtrl.editProfile()">Edit Profile</a>
                                    </li>
                                    <li>
                                        <a href ng-click="MainCtrl.logout()">Logout</a>
                                    </li>
                                </ul>
                            </span>
                        </span>
                    </div>
                    <!-- /.user-info -->
                    <div class="secondary-nav clearfix">
                    <ul class="nav navbar-nav navbar-default">
                        <li ui-sref-active="active" ng-show="MainCtrl.user.role=='user'">
                            <a ui-sref="App.UsersInitiative">Initiatives</a>
                        </li>
                        <li ui-sref-active="active"  ng-show="MainCtrl.user.role=='user'">
                            <a ui-sref="App.MyInitiative.Dashboard">My Initiatives</a>
                        </li>
                         <li ui-sref-active="active" ng-show="MainCtrl.user.role=='administrator'">
                            <a ui-sref="App.AllInitiative">All Initiatives</a>
                        </li>
                         <li ui-sref-active="active" ng-show="MainCtrl.user.role=='administrator'">
                            <a ui-sref="App.Users">Users</a>
                        </li>
                    </ul>
                </div>  
                </div>
                <!-- /.primary-seperate -->
                <!--
                    <div class="clearfix hidden-xs"></div> /.clearfix hidden-xs
-->
                
                <!-- /.nav secondary-nav -->
            </div>
            <!-- /#menu -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.navbar -->
</header>
<div ui-view></div>

<footer>
    <div class="container-fluid" >
               <lable><a href="">&copy; 2017 www.initiativetracker.com</a></lable>
            <div class="pull-right">

                    <a class="icons-sm fb-ic"  href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook-square fa-3x social"> </i></a>
                    
                    <a class="icons-sm tw-ic" href="https://twitter.com" target="_blank"><i class="fa fa-twitter-square fa-3x social"> </i></a>
                   
                    <a class="icons-sm gplus-ic" href="https://plus.google.com" target="_blank"><i class="fa fa-google-plus-square fa-3x social"> </i></a>
                   
                    <a class="icons-sm li-ic"  href="mailto:bootsnipp@gmail.com" target="_blank"><i class="fa fa-envelope-square fa-3x social"> </i></a>
           </div>
    </div>
</footer>
